<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kurban Bayramı - Kalan Süre</title>
    <%- include('components/head.ejs') %>
</head>
<body>
    <%- include('include/bar.ejs') %>
    <%- include('components/background.ejs') %>
    <%- include('components/timer.ejs') %>
    <script src="js/video.js"></script>
    <script src="js/kurban.js"></script>
</body>
</html>