<div class="bar">
  <a href="/" data-short-text="Yaz T.">Yaz Tatili</a>
  <a href="onbes-tatil" data-short-text="15 T.">15 Tatili</a>
  <a href="ara-tatil" data-short-text="Ara T.">Ara Tatili</a>
  <a href="kurban-tatil" data-short-text="Kurban B. T.">Kurban Bayramı Tatili</a>
</div>
<div class="bar-pc">
  <a href="/">Yaz Tatili</a>
  <a href="onbes-tatil">15 Tatili</a>
  <a href="ara-tatil">Ara Tatili</a>
  <a href="kurban-tatil">Kurban Bayramı Tatili</a>
</div>
<div class="menu-icon">
  <i class="fa-regular fa-bars"></i>
</div>
<script src="js/bar.js"></script>